<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Read-the-daily-confirmed-cases-and-deaths-into-two-dataframes" data-toc-modified-id="Read-the-daily-confirmed-cases-and-deaths-into-two-dataframes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Read the daily confirmed cases and deaths into two dataframes</a></span></li></ul></div>

# Read the daily confirmed cases and deaths into two dataframes

In [1]:
import pandas as pd
import numpy as np

In [5]:
df_confirm=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_confirm

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/12/22,11/13/22,11/14/22,11/15/22,11/16/22,11/17/22,11/18/22,11/19/22,11/20/22,11/21/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,204417,204510,204610,204724,204820,204982,205009,205039,205146,205229
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,333138,333156,333161,333197,333215,333233,333233,333246,333256,333257
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,270929,270939,270952,270969,270981,270996,270996,271011,271023,271028
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46664,46664,46664,46664,46824,46824,46824,46824,46824,46824
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,103131,103131,103131,103131,103131,103131,103131,103131,103131,103131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333685,333685,333685,333685,333685,333685,333685,333685,333685,333685
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,257893,257893,257893,257893,257893

In [6]:
df_death=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
df_death

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/12/22,11/13/22,11/14/22,11/15/22,11/16/22,11/17/22,11/18/22,11/19/22,11/20/22,11/21/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7829,7829,7829,7829,7830,7830,7830,7831,7831,7832
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3593,3593,3594,3594,3594,3594,3594,3594,3594,3594
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,155,155,155,155,156,156,156,156,156,156
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1917,1917,1917,1917,1917,1917,1917,1917,1917,1917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4017,4017,4017,4017,4017,4017,4017,4017,4017,4017
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5606,5606,5606,5606,5606